@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  /* font-family: var(--font-sans), Arial, Helvetica, sans-serif; */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

/* In your global CSS file, e.g., globals.css or main.css */

/* Hide default button focus outline on arrows */
.swiper-button-prev:focus, 
.swiper-button-next:focus {
    outline: none !important;
}

/* Style the navigation arrows (adjust colors/size as needed) */
.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Black color for arrows */
    --swiper-navigation-size: 20px; /* Smaller arrow size */
    opacity: 1; /* Initially hide the arrows */
    transition: opacity 0.2s ease-in-out;
}

/* Show arrows when hovering over the card */
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    opacity: 1; 
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.3s ease-in forwards;
}

